.title{
    color: green;
}

.task-list-container {
    margin-top: 10px;
    
  }
  
  .task-list {
    list-style: none;
    padding: 0;
  }
  
  .task-list li {
    margin: 10px 0;
  }
.btn{
    background-color: red;
    height: 10%;
    border-color: red;
    margin-left: 10px;
}
  